#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
    color:rgba(20,30,13, .7);
}

header {
    color:rgba(20,30,13, .7);
}

.book, .join {
    color:rgba(20,30,13, .7);
}

.book:hover, .join:hover {
    color:rgba(20,30,13, .7);
}

.msg {
    color:rgba(20,30,13, .7);
}

footer {
    color:rgba(20,30,13, .7);
}

nav a:hover {
    background-color: black;
}

.mountains {
    filter: sepia(1);
}